:root {
  --container-height: 580px;
}

* {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #171a23;
}

.link {
  text-decoration: none;
  color: white;
}

.main {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 140px 0;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  height: var(--container-height);
}

.image {
  max-height: var(--container-height);
  height: 100%;
}

.image img {
  object-fit: cover;
  width: 100%;
}

.description {
  display: flex;
  flex-direction: column;
  color: #fff;
  margin-left: 100px;
  max-width: 400px;
  height: 100%;
  padding: 10px 0;
}

.title {
  font-size: 40px;
  margin-bottom: 40px;
}

.text {
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 1.5;
}

.connect-me {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 13px;
  font-weight: bold;
  color: #f4f7fa;
}
